<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright 2013 Aljoschability and others. All rights reserved.

	This program and the accompanying materials are made available under the
	terms of the Eclipse Public License v1.0 which accompanies this distribution,
	and is available at http://www.eclipse.org/legal/epl-v10.html

	Contributors:
		Aljoscha Hark <mail@aljoschability.com> - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="http://www.aljoschability.com/eclipse/stodito/2011.PropertyContributor"
            labelProvider="com.aljoschability.eclipse.stodito.properties.PropertiesLabelProvider"
            typeMapper="com.aljoschability.eclipse.core.properties.graphiti.GraphitiTypeMapper">
         <propertyCategory
               category="model"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="http://www.aljoschability.com/eclipse/stodito/2011.PropertyContributor">
         <propertyTab
               category="model"
               id="general"
               label="General">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="http://www.aljoschability.com/eclipse/stodito/2011.PropertyContributor">
         <propertySection
               class="com.aljoschability.eclipse.stodito.properties.NamedNameSection"
               enablesFor="1"
               id="Activity.name"
               tab="general">
            <input
                  type="com.aljoschability.eclipse.stodito.Activity">
            </input>
         </propertySection>
         <propertySection
               class="com.aljoschability.eclipse.stodito.properties.NamedNameSection"
               enablesFor="1"
               id="Activity.name"
               tab="general">
            <input
                  type="com.aljoschability.eclipse.stodito.CallNode">
            </input>
         </propertySection>
         <propertySection
               class="com.aljoschability.eclipse.stodito.properties.CommentableCommentSection"
               enablesFor="1"
               id="com.aljoschability.eclipse.stodito.properties.CommentableCommentSection"
               tab="general">
            <input
                  type="com.aljoschability.eclipse.stodito.Commentable">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
