<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="http://www.aljoschability.com/eclipse/stodito/2013.PropertyContributor"
            labelProvider="com.aljoschability.eclipse.stodito.properties.PropertiesLabelProvider"
            typeMapper="com.aljoschability.eclipse.core.properties.graphiti.GraphitiTypeMapper">
         <propertyCategory
               category="model"></propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="http://www.aljoschability.com/eclipse/stodito/2013.PropertyContributor">
         <propertyTab
               category="model"
               id="general"
               label="General">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="http://www.aljoschability.com/eclipse/stodito/2013.PropertyContributor">
         <propertySection
               class="com.aljoschability.eclipse.stodito.properties.NamedNameSection"
               enablesFor="1"
               id="Activity.name"
               tab="general">
            <input
                  type="com.aljoschability.eclipse.stodito.Activity">
            </input>
         </propertySection>
         <propertySection
               class="com.aljoschability.eclipse.stodito.properties.NamedNameSection"
               enablesFor="1"
               id="Activity.name"
               tab="general">
            <input
                  type="com.aljoschability.eclipse.stodito.CallNode">
            </input>
         </propertySection>
         <propertySection
               class="com.aljoschability.eclipse.stodito.properties.CommentableCommentSection"
               enablesFor="1"
               id="com.aljoschability.eclipse.stodito.properties.CommentableCommentSection"
               tab="general">
            <input
                  type="com.aljoschability.eclipse.stodito.Commentable">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
